<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{20,0},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{119,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,144}</string>
                <key>spriteSourceSize</key>
                <string>{174,144}</string>
                <key>textureRect</key>
                <string>{{647,0},{174,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,320}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{400,144},{320,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{59,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{391,0},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{511,0},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,180}</string>
                <key>textureRect</key>
                <string>{{0,144},{150,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,252}</string>
                <key>spriteSourceSize</key>
                <string>{250,252}</string>
                <key>textureRect</key>
                <string>{{150,144},{250,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,98}</string>
                <key>spriteSourceSize</key>
                <string>{102,98}</string>
                <key>textureRect</key>
                <string>{{189,0},{102,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resultTitleLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,114}</string>
                <key>spriteSourceSize</key>
                <string>{720,114}</string>
                <key>textureRect</key>
                <string>{{0,464},{720,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruleBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{291,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scorebox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{924,291}</string>
                <key>spriteSourceSize</key>
                <string>{924,291}</string>
                <key>textureRect</key>
                <string>{{0,578},{924,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>basketball.png</string>
            <key>size</key>
            <string>{924,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9de68a8675390a2cc4e992169f5fdc47:926312f2c7e0bf6ef24e05fabe4e0f2a:75cab58a6dc205ecb438ed14e165a19b$</string>
            <key>textureFileName</key>
            <string>basketball.png</string>
        </dict>
    </dict>
</plist>
